menu "Example Configuration"

    choice
        prompt "Select the example to build"
        default EXAMPLE_BUILD_GENERAL_TEST
        config EXAMPLE_BUILD_SCREEN
            bool "screen"
        config EXAMPLE_BUILD_SCREEN_LVGL
            bool "screen_lvgl"
        config EXAMPLE_BUILD_SCREEN_LVGL_TOUCH_DRAW
            bool "screen_lvgl_touch_draw"
        config EXAMPLE_BUILD_SD
            bool "sd"
        config EXAMPLE_BUILD_RS485_CAN
            bool "rs485_can"
        config EXAMPLE_BUILD_GENERAL_TEST
            bool "general_test"
    endchoice

endmenu
