menu "Example Configuration"

    choice
        prompt "Select the example to build"
        default EXAMPLE_BUILD_SCREEN
        config EXAMPLE_BUILD_SCREEN
            bool "screen"
        config EXAMPLE_BUILD_SCREEN_LVGL
            bool "screen_lvgl"
        config EXAMPLE_BUILD_SCREEN_LVGL_TOUCH_DRAW
            bool "screen_lvgl_touch_draw"
        config EXAMPLE_BUILD_SD
            bool "sd"
    endchoice

endmenu
